{{- define "main" }}

<header class="pe-page-header">
    <div class="pe-page-header-content">
        <h1 class="pe-page-title">{{ .Title }}</h1>
        {{- if .Description }}
        <div class="pe-page-description">
            {{ .Description }}
        </div>
        {{- end }}
    </div>
</header>

{{- if .Content }}
<div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{- if .Param "enableReward" }}
{{- partial "reward.html" . }}
{{- end }}

{{- if (.Param "comments") }}
{{- partial "comments.html" . }}
{{- end }}

{{- end }}{{/* end main */ -}}