{{- define "main" }}

{{- if .Title }}
<header class="pe-page-header">
    <div class="pe-page-header-content">
        <h1 class="pe-page-title">{{ .Title }}</h1>
        {{- if .Description }}
        <div class="pe-page-description">
            {{ .Description }}
        </div>
        {{- end }}
    </div>
</header>
{{- end }}

<ul class="terms-tags">
    {{- $type := .Type }}
    {{- range $key, $value := .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    <li>
        <a href="{{ .Permalink }}">{{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a>
    </li>
    {{- end }}
    {{- end }}
</ul>

{{- end }}{{/* end main */ -}}
